@model EFCoreEmployee.Models.Employee
<h2>Create </h2>
<form asp-action="Create" asp-Controller="Employee" method="post">
    <div class="form-group">
        <label asp-for="Name" class="form-control" col-sm-2">Enter the Name</label>
        <input asp-for="Name" class="form-control" col-sm-10 />

    </div>
    
    <div class="form-group">
        <label asp-for="Location" class="form-control col-sm-2">Enter the Location</label>
        <input asp-for="Location" class="form-control" col-sm-10 />
    </div>
    <div>
        <button type="submit" class="btb btn-success">Create</button>
    </div>
</form>